---
title: Home
description: The latest app to help you find new friends with common interests.
image: 'https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png'
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">公司名字</h1>
			<p class="subtext editable">海乘是豪华邮轮上的乘务级高级管理和服务人员，但其职业内涵与服务内容更加宽泛丰富，是稳定、高薪并可以环游世界的梦想职业。高薪、体面、周游世界、娴熟标准的英语口语技能，交往志同道合的异国朋友，有趣而丰富的人生经历等等，这是海乘职业最让人羡慕的特点；到国际豪华邮轮上做海乘已经成为不少年轻人的就业新选择。</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">岗位优势</h2>
				<p class="editable">1、低投入、高收入、月薪万元不遥远。<br />2、岗位充足、上岗快、月月拿高薪。<br />3、赚钱、度假两不误，免费周游全世界。<br />4、所有公司提供免费食宿及医疗（若因工受伤，公司负责治疗并报销所有医疗费），公司定期举办各种派对、参观、学习等。<br />5、发展前景巨大、学习国外先进的管理经验、置身英语工作环境，学员自身的英语水平、工作能力均能在短时间内得到提高。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">办理流程</h2>
				<p class="editable">岗前培训+英语口语培训&rarr;参加邮轮公司面试<br />①面试通过&rarr;参加海员证培训&rarr;申请签证&rarr;登船工作<br />②面试未通过&rarr;继续参加培训直至登船工作</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">公司优势</h2>
				<p class="editable">我们拥有资深的师资力量，量身打造适合你的岗位，从英语口语和面试技巧各个方面全方位提高你通过面试的几率。我们拥有强大的海归团队，为你提高登船所需要的最详尽的信息和指导。我们拥有优越的地理位置，青岛母港的建成让我们离豪华邮轮又近了一步。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">现在就让梦想起航</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
